<div class="card"> 
  <div class="container">   
    <p>Hello <%= @name%></p> 
    <p>Follow this link to verify your email account</p>
    <a href= <%= @verification_url %>><%= @verification_url %></a>
    <br><br>
    <p> If you didn't ask to verify this address, you can ignore this email</p>
    <p>Thanks,</p>
    <p>Evaluto Team</p>
  </div>
</div>